
@model List<BlogModel>
@*<div class="left">
	      		<div class="bot-left">
	      			<img src="~/Web/images/pic1.jpg" alt=""/>
	      		</div>
	      		<div class="left-text">
	      		<h4>Lorem ipsum dolor sit amet, conte adipiscing elit dolor sit amet</h4>
	      		<span class="doller">$900.99</span>
	      		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo</p>
	      			<p><a href="#"><span class="read">Read More >></span></a></p>
	      		</div>
      		</div>*@
			  
			@*	@foreach (var item in Model)
				{
					
			
      		<div class="right">
	      		<div class="bot-left">
	      			<img src="@item.BlogImage" alt=""/>
					  <dt class = "col-sm-2">
           
        </dt>
	      		</div>
	      		<div class="left-text">
	      			
	      			<h4>Lorem ipsum dolor sit amet, conte adipiscing elit dolor sit amet</h4>
	      			<span class="doller">$924.99</span>
	      			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo</p>
	      				<p><a href="#"><span class="read">Read More >></span></a></p>
	      		</div>
      		</div>
			  	}  *@