@model List<BlogModel>

<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>

    <div class="box-left">
        @foreach (var item in Model)
        {
            
       
        <div class="bot-img">
            <img src="@item.BlogImage" alt="" />
        </div>
        <div class="bot-desc">
            <p>@item.Aciklama </p>
        </div>
        <div class="clear"></div>
        
        
         }
    </div>
    @Html.Partial("Partial5")
    
</div>