<div class="box1-left">
        <div class="bot-img">
            <img src="~/Web/images/pic9.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Tren yolculuğunun popüler seyahat trendlerinden birine dönüştüğü bu zamanlarda... </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/Web/images/pic10.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Burada muhteşem doğal güzelliklerle buluşmak, yerli kabilelerle tanışmak ve yepyeni deneyimler yaşamak mümkün. </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/Web/images/pic3.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Deneyim odaklı seyahat anlayışı deyince akıllara gelenlerden biri de dünyaca ünlü festivallere katılmak.  </p>
        </div>
        <div class="clear"></div>
    </div>